@model SysHotelv1.Models.Reservation

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Estas seguro que deseas eliminar este elemento?</h3>
<div>
    <h4>Reservacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingStatus.DescriptionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStatus.DescriptionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllInclusive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllInclusive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index","Reservations", htmlAttributes: new {@class = "btn btn-primary" })
        </div>
    }
</div>
