@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>

        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimientos<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ciudades</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Cities")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Cities")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>

                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paises</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Countries")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Countries")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Clients")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Clients")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empleados</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Employees")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Employees")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estatus</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "BookingStatus")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "BookingStatus")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Habitaciones</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Rooms")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Rooms")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edificios</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Buildings")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Buildings")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservaciones</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Reservations")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Reservations")</li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detalles Reservaciones</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Lista", "Index", "ReservationDetails")</li>
                                    <li>@Html.ActionLink("Crear nuevo", "Create", "ReservationDetails")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaciones<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservaciones</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Reservations")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "Reservations")</li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Detalles Reservacion</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Lista", "Index", "ReservationDetails")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administracion<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipos de Camas</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "BedTypes")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "BedTypes")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipos de Personas</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "PersonTypes")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "PersonTypes")</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipos de Habitaciones</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "RoomTypes")</li>
                            <li>@Html.ActionLink("Crear nuevo", "Create", "RoomTypes")</li>
                        </ul>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Lista", "Index", "Account")</li>
                            <li>@Html.ActionLink("Manejar mi Cuenta", "Index", "Manage")</li>
                        </ul>
                </ul>
            </li>


        </ul>


    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
